:root {
  --scrollbar: 0px;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: black;
  font-family: -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#app {
  margin: 0;
  padding: 0;
  height: 100vh;
  padding: 0;
  margin: 0;
}
