:root {
  --scrollbar: 0px;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: black;
  font-family: -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #444;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    &:hover {
      background-color: #666; // 轨道颜色
    }
  }
  &::-webkit-scrollbar-track {
    background-color: #222; // 轨道颜色
  }
}

#app {
  margin: 0;
  padding: 0;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.chart-container {
  height: 400px;
  width: 900px;
  max-width: 80vw;
  margin: 0 auto;
  max-width: 80vw;
}

.button {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  color: #7d8590;
  span {
    cursor: pointer;
  }
}
.cov {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  color: #ebedf1;
  padding-bottom: 10px;
}

.gradient-font {
  font-size: 58px;
  font-weight: 860;
  line-height: 150%;
  background: linear-gradient(180deg, rgba(186, 255, 243, 0) 50.04%, rgba(189, 255, 244, 0.44) 100.09%), linear-gradient(64.57deg, #75fff3 7.22%, #599aff 90.07%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @media (max-width: 1200px) {
    font-size: 48px;
  }
  @media (max-width: 960px) {
    font-size: 38px;
  }
  @media (max-width: 800px) {
    font-size: 28px;
  }
  @media (max-width: 460px) {
    font-size: 26px;
  }
}
.detail-describe {
  margin-top: 50px;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  color: #fff;
  width: 800px;
  max-width: 90vw;
  @media (max-width: 800px) {
    font-size: 16px;
  }
}
